html{
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
}

form{
    height: 100%;
}

.card-shadow {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

/*header {
    background: #212B38;*/
/*background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); 
    background: linear-gradient(to right, #FF4B2B, #FF416C); */
/*width: 100%;
    height: 60px;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: #2F323A 0.1px solid;*/
/*    opacity: 0.97;*/
/*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}*/

header {
    background: #212B38;
    z-index: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-grid {
    display: grid;
    height: 100%;
    grid-template-columns:minmax(100px, 250px) 1fr;
    grid-template-rows: minmax(80px, 85px) 1fr;
    grid-template-areas: "sidevar-grid       navbar-grid" 
                         "sidevar-grid      content-main-grid";
}

    .container-grid .navbar-grid {
        grid-column-start: navbar-grid;
        grid-column-end: navbar-grid;
        
    }

    .container-grid .sidevar-grid {
        grid-column-start: sidevar-grid;
        grid-column-end: sidevar-grid;
        grid-row-start: sidevar-grid;
        grid-row-end: sidevar-grid;
        overflow-y: hidden;
        background: #212B38;
    }

    .container-grid .content-main-grid {
        grid-column-start: content-main-grid;
        grid-column-end: content-main-grid;
        overflow-y:scroll;
        padding-bottom: 50px;
        position: relative;
    }

.content-main-grid::-webkit-scrollbar {
    width: 0.8rem;
}

.content-main-grid::-webkit-scrollbar-track {
    background: #212B38;
}

.content-main-grid::-webkit-scrollbar-thumb {
    background-color: #F54B64;
    border-radius: 5px;
}

.content-main-grid::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar{
    min-height: 85px;
}

.section-alert {
    position: fixed;
    width: 178vh;
    z-index: 1000;
    right: 30px;
    top: 100px;
    height: 51px;
    display: none;
}